<div class="sidenav">
    <div class="row">
        @Html.ActionLink("Menus", "Menus");
    </div>
    <div class="row">
        @Html.ActionLink("New Users", "Users");
    </div>
    
    <div class="row">
        @Html.ActionLink("Teachers", "Teachers");
    </div>

    <div class="row">
        @Html.ActionLink("Public Info", "PublicData");
    </div>
</div>
