
@{
    ViewBag.Title = "Users";
    ViewBag.NoFooter = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_AdminMenuPartial")

<div class="main">
    <div class="jumbotron">

    </div>
</div>