@{
    ViewBag.Title = "من نحن";
}
<div class="rtl">
    <h1 class="h1">من نحن</h1>

    <div>
        <h3>كلمة المدير</h3>
        <p>Use this area to provide additional information.</p>
    </div>

    <div>
        <h3>رؤية المدرسة</h3>
        <p>Use this area to provide additional information.</p>
    </div>

    <div>
        <h3>اهداف المدرسة</h3>
        <p>Use this area to provide additional information.</p>
    </div>

    إلى اخره......
</div>