@model List<BBBZ.Models.PublicData>

<div class="rtl">

    <h1 class="h1">@Resources.R.About</h1>

    @foreach (var x in Model)
    {
        <div>
            <h3>@x.Title</h3>
            <p>@x.Text</p>
        </div>    
    }
</div>