@{
    ViewBag.Title = "About";
}
<div>
    <h1 class="h1">@Resources.R.About</h1>
</div>
<p>
    @Resources.R.AboutMessage
</p>
<p>for source code <a href="http://github.com/bhlshrf/BBBZ">click here</a></p>