@model List<BBBZ.Models.PublicData>
@{
    ViewBag.Title = "من نحن";
}
<div class="rtl">

    <h1 class="h1">من نحن</h1>

    @foreach (var x in Model)
    {
        <div>
            <h3>@x.Title</h3>
            <p>@x.Text</p>
        </div>    
    }
</div>