@model List<BBBZ.Models.Category>
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper allSubCategories(List<BBBZ.Models.Category> cat)
{
    if (cat != null)
    {
            foreach (var cor in cat)
            {
                if(cor.SubCategories.Count > 0)
                {
                    @:<li class="dropdown-submenu">
                }
                else
                {
                    @:<li>
                }
                    @:<a tabindex="-1" href="#">
                        @cor.Key
                    @:</a>
                    @:<ul class="dropdown-menu">
                    @allSubCategories(cor.SubCategories);

                    foreach (var i in cor.Items)
                    {
                        @:<li><a tabindex="-1" href="#">@i.Key</a></li>
                    }
                    @:</ul>
                @:</li>
            }
        
    }
}

<h2>Courses</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3 jumbotron" style="padding-left:6px;">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
                @allSubCategories(Model)
            </ul>
        </div>
        <div class="col-md-9">

        </div>
        <div class="row">

        </div>
    </div>
</div>