@model BBBZ.Models.HomeViewModel
@{
    ViewBag.Title = "Home";
}

<br />
<div class="alert alert-warning" role="alert"> @Resources.R.Underconstruction </div>

<br />

@foreach (var x in Model.PublicData)
{
    <div class="jumbotron">
            <h1>@x.Title</h1>
            <p class="lead">@x.Text</p>
    </div>
}

<br />
