@model List<BBBZ.Models.PublicData>

<br />
<div class="alert alert-warning" role="alert"> @Resources.R.Underconstruction </div>

@foreach (var x in Model)
{
    <div class="jumbotron">
            <h1>@x.Title</h1>
            <p class="lead">@x.Text</p>
    </div>
}

<br />
<br />
@Html.ActionLink("go to Admin Control Panel (username = superadmin, password = superadmin)", "Index", "Admin", null, new { @class = "btn btn-sm btn-danger" })