@{    
    ViewBag.Title = "Error" + ViewBag.Code;
}

<div class="container body-content">

    <br />
    <br />
    <br />
    <h2>Error <i> @ViewBag.Code </i></h2>
    <div class="col-sm-8">
        <p style="color:red">
            @ViewBag.Message
        </p>
    </div>

    <div class="col-sm-4">
        <img src="~/Content/images/robot.png" alt="error" />
    </div>
    <a href="@ViewBag.PreviousUrl" class="btn btn-sm btn-primary"> Retry </a>
    <input type="button" value="Back" class="btn btn-sm btn-info" onclick="history.go(-1);" />
</div>