
@{
    ViewBag.Title = "Complete";
}

<h2>Complete</h2>

You have been finish the course
But skiped some lessons


<a class="btn btn-default" href="@Url.Action("Lesson", "Contents", new { type = "home", id = Model.ID })"> Home </a>