
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Lecture</h2>


<div class="form-group">
    @Html.Label("", "Select Class", new { @class = "col-md-2 control-label" })
    @Html.DropDownList("1", new SelectList(new string[] { "Class1", "Class2", "Class3"}), new { @class = "input-sm form-control" })
</div>

<div class="row">
    <div class="container col-md-8 col-md-offset-2">
        <textarea id="editor" class="hidden"></textarea>
        <input id="postSunmit" type="submit" name="submit" value="Post" class="btn btn-primary btn-sm" disabled="disabled">
    </div>
</div>

record Video:
<video></video>


@section scripts{
@Scripts.Render("~/bundles/tinymce")
@Scripts.Render("~/bundles/MyScript")

<script>

    tinymce.init({
        selector: "#editor",
        height: 200,
        plugins: [
        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code',
        'insertdatetime media nonbreaking save table contextmenu directionality',
        'emoticons paste textcolor colorpicker textpattern imagetools',
        'autoresize'
        ],

        toolbar1: 'styleselect | fontselect | fontsizeselect | hr charmap emoticons | link image',
        toolbar2: 'forecolor backcolor | bold italic underline strikethrough | ltr rtl | alignleft aligncenter alignright outdent indent | bullist numlist',
        menu: {},

        setup: function (ed) {

            ed.on('keyup', function () {
                ToggelPostButton(ed.getContent());
            });

            ed.on('change', function () {
                ToggelPostButton(ed.getContent());
            });
        }
    });


    </script>
}


